<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inventorymanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.product.stockChangeProduct"></activity>
        <activity android:name=".activity.material.stockChange"></activity>
        <activity android:name=".activity.product.EditProduct" />
        <activity android:name=".activity.material.EditMaterial" />
        <activity android:name=".activity.dailyProduct.EditDailyProduct" />
        <activity android:name=".activity.productOutgoing.AddProductOutgoing" />
        <activity android:name=".activity.product.AddProduct" />
        <activity android:name=".activity.materialIncoming.AddMaterialIncoming" />
        <activity android:name=".activity.material.AddMaterial" />
        <activity android:name=".activity.dailyProduct.AddDailyProduct" />
        <activity android:name=".activity.productOutgoing.productsOutgoingActivity" />
        <activity android:name=".activity.materialIncoming.materialsIncomingActivity" />
        <activity android:name=".activity.material.materialsActivity" />
        <activity android:name=".activity.dailyProduct.dailyProductsActivity" />
        <activity android:name=".activity.product.productsActivity" />
        <activity android:name=".adapter.MaterialIncomingAdapter" />
        <activity android:name=".adapter.ProductOutgoingAdapter" />
        <activity android:name=".adapter.DailyProductAdapter" />
        <activity android:name=".adapter.MaterialAdapter" />
        <activity android:name=".adapter.ProductAdapter" />
        <activity android:name=".activity.user.Testactivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.user.SignupActivity" />
        <activity android:name=".activity.user.LoginActivity" />
        <activity android:name=".activity.user.dasboardActivity" />
        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>